@using System.Text.RegularExpressions
@using System.Drawing

@page "/"

@inject IDialogService DialogService
@inject FaceHubService FaceHubService

<PageTitle>Blazor Face Recog</PageTitle>

<CameraFeed @ref=_cameraFeed OnWebcamStart=@StateHasChanged />
@if(_cameraFeed?.WebcamStarted ?? false)
{
    <MudStack Row=true>
        <MudButton OnClick=@(() => StartStopProcessingAsync())
                   Color=MudBlazor.Color.Primary
                   Variant=Variant.Filled>@(!_detectionActive ? "Start" : "Stop")</MudButton>

        <MudButton OnClick=OpenTrainDialogAsync
                   Disabled=_detectionActive
                   Color=MudBlazor.Color.Primary
                   Variant=Variant.Filled>Train</MudButton>
    </MudStack>
}

@if (_detectionActive)
{
    <MudText Typo=@Typo.subtitle2>
        <p>Face: @(_analyzedImage?.Name ?? "No Face Detected")</p>
        @if(_analyzedImage?.Score is > 0)
        {
            <p>Score: @_analyzedImage.Score</p>
        }
    </MudText>
}

@code {
    private CameraFeed _cameraFeed = default!;

    private bool _detectionActive;

    private bool _isProcessing;

    private AnalyzedImage? _analyzedImage;

    protected override async Task OnInitializedAsync()
    {
        FaceHubService.OnResponseReceived += async analyzedImage =>
        {
            if (!_detectionActive)
            {
                await _cameraFeed.ClearFaceHighlightAsync();
                return;
            }

            _analyzedImage = analyzedImage;

            if (_analyzedImage != null)
            {
                var face = _analyzedImage.Face;
                await _cameraFeed.DrawOnFrame(face);
            }
            else
            {
                await _cameraFeed.ClearFaceHighlightAsync();
            }

            StateHasChanged();

            await Process();
        };


        await FaceHubService.StartConnectionAsync();
    }

    private async Task StartStopProcessingAsync()
    {
        if (!_detectionActive)
        {
            _detectionActive = true;

            await Process();
        }
        else
        {
            _detectionActive = false;
            _analyzedImage = null;

            StateHasChanged();
        }
    }

    private async Task Process()
    {
        var bytes = await _cameraFeed.ProcessFrame();
        await FaceHubService.RecogniseFacesAsync(bytes);
    }

    private async Task OpenTrainDialogAsync()
    {
        await DialogService.ShowAsync<TrainFaceDialog>(TrainFaceDialog.Title);
    }
}