@using System.Text.RegularExpressions

@inject IJSRuntime JS

@if (WebcamStarted)
{
    <div style="position: relative; width: 100%; margin-top: 20px">
        <video id="videoFeed" style="width: 100%; height: 100%"></video>
        <canvas id="currentFrame" style="width:100%; height: 100%; position: absolute; left: 0; display:none;"></canvas>
        <canvas id="faceHighlight" style="width: 100%; height: 100%; position: absolute; left: 0; z-index: 1"></canvas>
    </div>
}
else
{
    <MudStack Style="align-items: center">
        <MudSpacer />
        <MudText Typo=@Typo.h2
                 Align=@Align.Center>Waiting for Webcam</MudText>
        <MudSpacer />
            <MudProgressCircular Color=Color.Primary
                                 Size=Size.Large
                                 Indeterminate=true />
    </MudStack>
}

@code {
    private record class JSImage(string DataUrl);

    public bool WebcamStarted { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("startVideo", "videoFeed", DotNetObjectReference.Create(this));
    }

    [Parameter]
    public EventCallback<bool> OnWebcamStart { get; set; }

    [JSInvokable]
    public async Task DisplayWebcam()
    {
        WebcamStarted = true;
        StateHasChanged();
        await OnWebcamStart.InvokeAsync();
    }

    public async Task<byte[]> ProcessFrame()
    {
        var imageString = await JS.InvokeAsync<JSImage>("getFrame", "videoFeed", "currentFrame");

        return GetBytesFromDataUrl(imageString.DataUrl);
    }

    public async Task DrawOnFrame(System.Drawing.Rectangle face)
    {
        await JS.InvokeVoidAsync("drawOnFrame", "faceHighlight", face.X, face.Y, face.Width, face.Height);
    }

    public async Task ClearFaceHighlightAsync()
    {
        await JS.InvokeVoidAsync("clearFrame", "faceHighlight");
    }

    private static byte[] GetBytesFromDataUrl(string dataUrl)
    {
        var base64Data = Regex.Match(dataUrl, "data:image/(?<type>.+?),(?<data>.+)").Groups["data"].Value;
        return Convert.FromBase64String(base64Data);
    }
}